@font-face{
    font-family: Halvetica;
    src: url(/font/HelveticaNeue.ttc);
}

/*variables*/
:root{
    /*font*/
    --FF: Halvetica,sans-serif;
    /*default button color */
    --DBC:#6B40E3;
    /*resume main color */
    --RMC:#F93B1D;
}

/*global style*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
textarea{
    resize: none;
}
input,
button,
textarea {
    font-family: var(--FF); 
}
.html{
    font-family: var(--FF);
}
body{
    width: 100%;
    min-height: 100vh;
}

/*back arrow box*/
.back-arrow-box{
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    top:45px;
    left:45px;
}
/*text style for weight/500 size/16*/
.font-w5-s16{
    font-family:var(--FF);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}
/*input fields*/
.font-w4-s16{
    font-family:var(--FF);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.6);
}
/*validation texts*/
.font-w3-s14{
    font-family:var(--FF);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #2E2E2E;
}

/*inputs wrap (in case thers 2 inputs in 1 line)*/
.inputs-wrap{
    display: flex;
    justify-content: space-between;
}
/*inputs box style1*/
.input-box-style1{
    position: relative;
    width:100%;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
/*inputs box style2*/
.input-box-style2{
    position: relative;
    width:370px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

/*input field style1*/
.input-style1{
    height: 50px;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    padding: 0 10px 0 10px;
}


/*transition button default style*/
.transition-btn{
    cursor: pointer;
    background-color:var(--DBC);
    width: 151px;
    height: 48px;
    letter-spacing: 0.08em;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    outline: transparent;
}






/*     main page    */
.main-page-container{
    min-height: 100vh;
    background: url(/images/shutterstock_2189773743\ 1.png) no-repeat  center;
    background-size: cover;
    
}
.main-header{
    width: 100%;
    height: 90px;
}
.redberry-logo{
    position: relative;
    left:70px;
    top: 25px;
}
.main-line{
    position: relative;
    margin: 0 70px 0 70px;
    top: 50px;
    border: 1px solid #1A1A1A;
}


/*BTN*/  /*not finished, need to try alternative of position absolute*/
.add-resume-container{
    position: absolute;
    left: 37.9%; /*left  728px = (728/1920)*100 */
    width: 464px;
    margin: 25% auto ;
}
.add-resume-btn{
    width: 100%;
    padding: 18px 60px;
    background: #1A1A1A;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
}
.agency-logo{
    width: 300px;
    height: 300px;
    position: absolute;
    left:56%;
    top: 49%;
}


/* personalInf page */ 
.personalInfo-page-container{
    display: flex;
    flex-direction: row;
}

/*left side*/
.personalInfo-left-container{
    width: 57%;
    min-height: 100vh;
    position: relative;
}

.personalInf-box{
    position: relative;
    max-width: 800px;
    min-height: 900px;
    margin: 45px auto 0 auto;
}

/*personalinfo header*/
.personalInfo-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.personalInfo-header h1:nth-child(1){
    font-family:var(--FF);
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #1A1A1A;
}
.personalInfo-header h1:nth-child(2){
    font-family: var(--FF);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
}
.personalInf-line{
    border: 1px solid rgb(0, 0, 0);
}

/*  personalInfo name  field  */
.full-name-box{
    margin-top: 77px;
}
.first-name-box,
.last-name-box{
    position: relative;
    width: 370px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
#first-name,
#last-name{
    height: 50px;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    padding: 0 10px 0 10px;
}
.validVector{
    position: absolute;
    display: none;
    right: 15px;
    top:42%;
}
.notValidVector{
    position: absolute;
    display: none;
    right: -30px;
    top:41%;
}



/* personal image */
.personal-image-box{
    margin-top: 30px;
}
.personal-image-box span{
    font-size: 18px;
    line-height: 22px;
}
.personal-image-box label{
    cursor: pointer;
    margin-left: 20px;
    padding: 10px 10px 12px;
    background: #0E80BF;
    border-radius: 4px;
}

/* general info (textarea) */
.general-info-box{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-top: 50px;
}
#general-info{
    padding: 10px;
    width: 100%;
    height: 123px;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
}

/* email */
.email-box,
.phone-number-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-top: 30px;
    position: relative;
}
#email,
#phone-number{
    height: 50px;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    padding: 0 0 0 10px;
}
/*personalInfo next page btn*/
.next-page-btn{
    display: flex;
    justify-content: right;
}

.next-btn{
    position: absolute;
    bottom: 65px;
    right: 13.6%; /* experimentin with % 13.6% = 150 px */
}
.prev-btn{
    position: absolute;
    bottom: 65px;
    left: 13.6%; /* experimentin with % 13.6% = 150 px */
}


/* personalIbfo RIGHT side =============================*/
.personalInfo-right-container{
    width: 43%;
}

.personalInfo-live-display{
    width: 662px;
    margin: 48px auto 0 auto;
    display: flex;
}

/* data side (left) */
.personalInfo-live-display-data{
    width: 432px;
}
/* name */
.personalInfo-live-display-fullname{
    display: flex;
    gap: 20px;
}
.display-fullname-firstname,
.display-fullname-lastname{
    font-family:var(--FF);
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    color:var(--RMC);
}
/*contacts*/
.personalInfo-live-display-contacts{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.display-contacts-email,
.display-contacts-number{
    font-family:var(--FF);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #1A1A1A;
}
/*about general information*/
.personalInfo-live-display-generalInf{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.display-generalInf-header{
    display: none;
    font-family:var(--FF);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color:var(--RMC);
}
.display-generalInf-data{
    font-family:var(--FF);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-transform: lowercase;
}

/* image side(right) */
.personalInfo-live-display-image{
    width: 246px;
    height: 246px;
}
.personalInfo-live-display-image img{
    border-radius: 133px;
    height: 100%;
}


/* 2 styles for experience page ==============>*/
.position-box{
    margin-top: 77px;
}

.employer-box{
    margin-top: 31px;
}

.work-date-box{
    margin-top: 31px;
}

.experience-info-box{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-top: 33px;
}
#experience-info{
    padding: 10px;
    width: 100%;
    height: 123px;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
}

.end-line-experience{
    border: 1px solid #C1C1C1;
    margin-top: 58px;
}
.line-for-display{
    width: 662px;
    margin: 20px auto 0 auto;
    border: 1px solid #C1C1C1;
}


/*style for more expereience object*/
.space-for-bottom{
    width: 233px;
    height: 232px;
}

#add-more-experience-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 45px;
    width: 289px;
    height: 48px;
    background: #62A1EB;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    

    font-family: var(--FF);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;

}

/*2 experience  page RIGHT side  */
.experience-live-display{
    width: 662px;
    margin: 24px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.display-experience-header{
    display: none;
    font-family:var(--FF);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--RMC);
}

.job-wraper{
    display: flex;
    gap: 10px;
}

.display-experience-date{
    font-family: var(--FF);
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #919191;
}

.displaye-experince-info{
    font-family: var(--FF);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-transform: capitalize;
    color: #000000;
}


/* 3 styles for education page ==============>*/
.school-box{
    margin-top: 77px;
}
.education-live-display{
    width: 662px;
    margin: 24px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.display-education-header{
    display: none;
    font-family:var(--FF);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--RMC);
}
.education-wraper{
    display: flex;
    gap: 5px;
}
.display-education-date{
    font-family: var(--FF);
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #919191;
}


/*  dropdown btn  //////////////*/
#degree-dropdown{
    cursor: pointer;
    position: relative;
}
.select{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.dropdown-arrow{
    cursor: pointer;
    border: solid #484848;
    border-width: 0 2px 2px 0;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.menu{
    display: none;
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    margin-top: 5px;
    left: 0;
    list-style: none;
    filter: drop-shadow(0px 16px 28px rgba(0, 0, 0, 0.24));
    border-radius: 4px;
    background-color: #ffffff;
    width: 100%;
    z-index: 9999;
}
.menu li{
    padding: 10px 16px;
}
.menu-open{
    display: block;
    opacity: 1;
}
/* \\\\\\\\\\\\\\\\\\\\\*/


/* 4 styles for resume page ==============>*/


.resume-box{
    width: 822px;
    min-height: 100vh;
    margin: 54px auto 129px auto;
    background: #FFFFFF;
    border: 0.8px solid #000000;
}
#comment{
    position: absolute;
    top: -10px;
    left: 50%;
}