/**/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;800;900&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
} 


/* Header same for all pages============*/
header{
    position: absolute;
    width: 923px;
    height: 84px;
    left: 0px;
    top: 0px;
    background: #7025FB;
}
.header1{
    position: relative;
    left: 60px;
    top: 25px;
}
.header2{
    position: relative;
    left: 80px;
    top: 30px;
}

/*1st page   ==========================*/
/* left side ==========================*/
.page1-left-rectangle{
    position: absolute;
    width: 923px;
    height: 996px;
    left: 0px;
    top: 84px;
    background: url(images/Landing\ page-\ scrolling\ photo.png);
}


/* right side =========================*/
.page1-right-rectangle{
    position: absolute;
    width: 997px;
    height: 1080px;
    left: 923px;
    top: 0px;
    background: #FD5334;  
}
/*text chess says */
.page1-right-rectangle div:nth-child(1){
    position: absolute;
    left: 80px;
    top: 265px;
    width: 500px;
    height: 110px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 109px;
    text-transform: uppercase;
    color: #FFFFFF;
}
/*text  a lot about */
.page1-right-rectangle div:nth-child(2){
    position: absolute;
    top: 308px;
    left: 600px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #212529;
}
/*text who we are*/
.page1-right-rectangle div:nth-child(3){
    position: absolute;
    width: 570px;
    height: 109px;
    left: 80px;
    top: 390px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 109px;
    text-transform: uppercase;
    color: #FFFFFF;
}
/*button*/
.page1-right-rectangle button{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 191px;
    height: 53px;
    top: 600px;
    left: 80px;
    background: #212529;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.page1-right-rectangle button:hover{
    border: 4px solid rgba(194, 165, 249, 0.8);
    border-radius: 8px;
}



/*2nd page ============================*/
/*left side ==========================*/
.page2-left-rectangle{
    position: absolute;
    width: 923px;
    height: 996px;
    left: 0px;
    top: 84px;
    background: url(images/unsplash_27LH_0jXKYI.png);
}
.page2-left-rectangle div:nth-child(1){
    position: absolute;
    width: 423px;
    height: 83px;
    left: 140px;
    top: 250px;

    font-family: 'Nunito';
    font-style: italic;
    font-weight: 800;
    font-size: 26px;
    line-height: 35px;
    text-transform: uppercase;
    color: #212529;
}
.page2-left-rectangle div:nth-child(2){
    position: absolute;
    width: 222px;
    height: 33px;
    left: 140px;
    top: 355px;

    font-family: 'Nunito';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: #E5E6E8;
}


/* right side =========================*/
.page2-right-rectangle{
    position: absolute;
    width: 997px;
    height: 1080px;
    left: 923px;
    top: 0px;
    background: #ffffff;
    
}
/*start creating your account=========*/
.page2-right-rectangle span{
    position: relative;
    top: 30px;
    left: 50px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-transform: capitalize;
    color: #212529;
}

/*personal information and  chess experience*/
.wizard{
    position: absolute;
    top: 144px;
    left: 50px;
    width: 366px;
    height: 65px;
}
.frame{
    position: relative;
    margin: 0 auto;
    width: 262px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.frame1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E5E6E8;
    border-radius: 8px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #212529;
}
.frame-line{
    width: 174px;
    height: 0px;
    border: 1px solid rgba(185, 180, 196, 0.3);
}
.frame2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E5E6E8;
    border-radius: 8px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #95939A;
}
.wizard span:nth-child(2){
    position: absolute;
    width: 158px;
    height: 24px;
    left: 0px;
    top: 44px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}
.wizard span:nth-child(3){
    position: absolute;
    width: 131px;
    height: 24px;
    left: 235px;
    top: 44px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

/*personal information & basic information text(same css for 2-3 page)*/
.P-information{
    position: absolute;
    width: 330px;
    height: 48px;
    left: 50px;
    top: 324px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #000000;
}
.B-information{
    position: absolute;
    width: 205px;
    height: 21px;
    left: 50px;
    top: 375px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-transform: capitalize;
    color: #95939A;
}

/*personal informations inputs field*/
.Personal-information-inputs{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 775px;
    height: 304px;
    left: 50px;
    top: 481px;
}
/*error panel*/
.error{
    position: relative;
    top: 226px;
    left: 600px;
    width: 350px;
    height: 87px;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: none;
}
.error.active{
    display: block;
}
.error span:nth-child(1){
    position: absolute;
    left: 50px;
    top: 8px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-transform: none;
    line-height: 21px;
    color: #DC3545;
}
.error span svg{
    position: absolute;
    left:-30px;
}
.error span:nth-child(2){
    position: absolute;
    cursor: pointer;
    top: 8px;
    left: 320px;
}
.error span:nth-child(3){
    position: absolute;
    top: 50px;
    left: 25px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: none;
    color: #212529;
}

/*input area for personal information*/
.Personal-information-inputs input{
    position: relative;
    margin: 0 auto;
    padding: 8px 16px;
    width: 100%;
    height: 46px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #212529;
}
/*text in input fields(insted of placeholders)*/
.p-name{
    position: absolute;
    top: 7px;
    left: 15px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #212529;
}
.p-email{
    position: absolute;
    top: 94px;
    left: 15px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #212529;
}
.p-phone{
    position: absolute;
    top: 181px;
    left: 15px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #212529;
}
.p-date{
    position: absolute;
    top: 268px;
    left: 15px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #212529;
}
.p-name::after,.p-email::after,.p-phone::after,.p-date::after{
    position: absolute;
    content: '*';
    margin-top: 2px;
    margin-left: 5px;
    color: red;
}




/*hiding arrows from number inputfield */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}
/*validate icons*/
#nameicon{
    color: green;
    position: absolute;
    top: 0px;
    right: 10px;
    top: 13px;
    display: none;
}
#emailicon{
    color: green;
    position: absolute;
    top: 0px;
    right: 10px;
    top: 100px;
    display: none;
}
#phoneicon{
    color: green;
    position: absolute;
    top: 0px;
    right: 10px;
    top:185px;
    display: none;
}
#dateicon{
    color: green;
    position: absolute;
    top: 0px;
    right: 10px;
    top:275px;
    display: none;
}

/*back and next buttons*/
.back-BTN{
    position: absolute;
    width: 93px;
    height: 53px;
    left: 50px;
    top: 873px;
    border: 1px solid #212529;
    border-radius: 8px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-transform: capitalize;
    color: #212529;
    cursor: pointer;
}
.back-BTN:hover{
    background: rgba(185, 180, 196, 0.3);
    border: 1px solid rgba(194, 165, 249, 0.8);
    border-radius: 8px;
}
.next-BTN{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 13px;
    width: 128px;
    height: 53px;
    right: 175px;
    top: 873px;
    background: #212529;
    border-radius: 8px;
    cursor: pointer;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.next-BTN:hover{
    border: 4px solid rgba(194, 165, 249, 0.8);
    border-radius: 8px;
}




/*3rd page ============================*/
/*left rectangle ======================*/
.page3-left-rectangle{
    position: absolute;
    width: 923px;
    height: 996px;
    left: 0px;
    top: 84px;
    background: url(images/pg3.png);
}
.page3-left-rectangle div:nth-child(1){
    position: absolute;
    width: 615px;
    height: 83px;
    left: 140px;
    top: 197px;

    font-family: 'Nunito';
    font-style: italic;
    font-weight: 800;
    font-size: 26px;
    line-height: 35px;
    text-transform: uppercase;
    color: #212529;
}
.page3-left-rectangle div:nth-child(2){
    position: absolute;
    width: 266px;
    height: 33px;
    left: 466px;
    top: 312px;

    font-family: 'Nunito';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: #093F68;
}


/* right side =========================*/
.page3-right-rectangle{
    position: absolute;
    width: 997px;
    height: 1080px;
    left: 923px;
    top: 0px;
    background: #ffffff;
    
}
/*First step is done, continue to finish onboarding*/
.page3-right-rectangle span{
    position: relative;
    top: 30px;
    left: 50px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-transform: capitalize;
    color: #212529;
}

/*input field for personal information======*/
.Experience-information-inputs{
    position: relative;
    width: 800px;
    height: 200px;
    top: 490px;
    left: 50px;
}
/*knoweladge input */
.lvl-of-knoweladge::after{
    position: absolute;
    content: '';
    left:365px;
    top: 16px;
    width: 7px;
    height: 7px;
    border-right: 2px solid #212529;
    border-bottom: 2px solid #212529;
    transform: rotate(45deg);
    transition: 0.6s;
}
.lvl-of-knoweladge.active::after{
    transform: rotate(225deg);
}
.knoweladge{
    position: absolute;
    width: 392px;
    height: 46px;
    border: none;
    outline: none;
    background: #ffffff;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
    border-radius: 4px;
    cursor: pointer;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #212529;
}
/*page 3 knoweladge label */
.knoweladgeLabel{
    position: absolute;
    top: 5px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #212529;
}
.knoweladgeLabel::after{
    position: absolute;
    content: '*';
    color: red;
    top: 3px;
    margin-left: 15px;
}
/*page 3 character label */
.characterLabel{
    position: absolute;
    left: 410px;
    top: 5px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #212529;
}
.characterLabel::after{
    position: absolute;
    content: '*';
    color: red;
    top: 3px;
    margin-left: 15px;
}

/*knoweladge options*/
.K-options{
    position: absolute;
    width: 392px;
    height: auto;
    margin-top: 50px;
    background-color: #ffffff;
    display: none;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    z-index: 9999;
}
.lvl-of-knoweladge.active .K-options{
    display: block;
}
.K-options div{
    margin-left: 15px;
}
.K-options div:hover{
    cursor: pointer;
    font-weight: 600;
}
/*character input */
.character{
    position: absolute;
    width: 392px;
    height: 46px;
    right: 0;
    border: none;
    outline: none;
    background: #ffffff;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
    border-radius: 4px;
    cursor: pointer;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #212529;
}
.choose-your-character::after{
    position: absolute;
    content: '';
    left:765px;
    top: 16px;
    width: 7px;
    height: 7px;
    border-right: 2px solid #212529;
    border-bottom: 2px solid #212529;
    transform: rotate(45deg);
    transition: 0.6s;
}
.choose-your-character.active::after{
    transform: rotate(225deg);
}
/*dropdown for character*/
.C-options{
    position: absolute;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    left: 400px;
    top: 55px;
    width: 390px;
    height: 420px;
    background-color: rgb(255, 255, 255);
    z-index: 9999;
    display: none;
}
.choose-your-character.active .C-options{
    display: flex;
}
.C-options div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    width: 100%;
    height: 72px;
    cursor: pointer;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #212529;
}
.C-options img{
    width: 100px;
    height: 72px;
}



/*redberry championship*/
.redberry-C{
    width: 750px;
    height: 60px;
    position: relative;
    left: 0px;
    top: 140px;
}
.redberry-C span{
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%
}
.redberry-C input,.redberry-C label{
    position: relative;
    margin-top: 50px;
    width: 20px;
    height: 20px;
  
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #212529;
}
.redberry-C label{
    margin-right: 50px;
}

/*nextBTN*/
.done-BTN{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 13px;
    width: 128px;
    height: 53px;
    right: 175px;
    top: 873px;
    background: #212529;
    border-radius: 8px;
    cursor: pointer;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.done-BTN:hover{
    border: 4px solid rgba(194, 165, 249, 0.8);
    border-radius: 8px;
}





/*page 4 =============================*/
/*left side*/
.page4-left-rectangle{
    position: absolute;
    width: 923px;
    height: 996px;
    left: 0px;
    top: 84px;
    background: url(images/page4Background.png);
}
/*right side*/
.page4-right-rectangle{
    position: absolute;
    width: 997px;
    height: 1080px;
    left: 923px;
    top: 0px;
    background: #ffffff;  
}

.onboarding-completed{
    position: relative;
    top: 416px;
    left: 278px;
    width: 410px;
    height: 260px;
}
.onboarding-completed span{
    position: absolute;
    bottom: 0px;
    bottom: 2px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 150%;
    color: #000000;
}
.onboarding-completed img{
    position: absolute;
    top: 5px;
    left: 110px;
    width: 183px;
    height: 190px;
}